<h1>{{image.name}}</h1>
<h2>Score : {{image.votes}}</h2>
<div style="width: 100%;">
    <div style="width: 45%; float: left;">
        <img src="{{image.url}}" style="width: 100%;">
    </div>
    <div style="width: 45%; float: left;">
        <form action="{% url 'polls:upvote' image.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Vote up">
        </form>
        <form action="{% url 'polls:downvote' image.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Vote down">
        </form>
    </div>
</div>